<h1>Login!</h1>

<form {{action 'authenticate' on='submit'}}>
  <label for='firstName'>First Name</label>
    {{input value=firstName placeholder='First Name'}}
  <label for='lastName'>Last Name</label>
    {{input value=lastName placeholder='Last Name'}}
  <label for='email'>Email Address</label>
    {{input value=email placeholder='Email'}}
  <label for='role'>Your role</label>
    {{input value=role placeholder='Role'}}
  <label for='password'>Password</label>
    {{input value=password placeholder='Password' type='password'}}
  <button type='submit' class='button'>Login</button>
</form>

{{#if errorMessage}}
  <p class='errors'>Login failed. Please try again</p>
  <code>{{errorMessage}}</code>
{{/if}}